/*  Navigationbar */
nav {
    font-family: "Poppins", sans-serif;
}
nav > .nav-top-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.5rem;
}
nav > .nav-top-bar > ul {
    display: flex;
}
nav > .nav-top-bar > .center {
    width: 100%;
}
nav > .nav-top-bar > ul > li.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    gap: 1rem;
    background-color: var(--shadow-1-8);
    border-radius: 1.25rem;
    cursor: pointer;
}
nav > .nav-top-bar > ul > li.button.active,
nav > .nav-top-bar > ul > li.button:hover {
    background-color: var(--blue);
}
nav > .nav-top-bar > ul > li.tab {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 2.5rem;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 0.5rem 0.25rem 0 0.25rem;
    gap: 1rem;
    border-radius: 0.75rem 0.75rem 0 0;
    cursor: pointer;
}
nav > .nav-top-bar > ul > li.tab.active,
nav > .nav-top-bar > ul > li.tab:hover {
    background-color: var(--white);
}