:root {
    --white:    #ffffff;
    --lightgray:#e8e8ed;
    --red:      #ff6961;
    --orange:   #ffb480;
    --yellow:   #f8f38d;
    --green:    #42d6a4;
    --cyan:     #08cad1;
    --blue:     #59adf6;
    --violet:   #9d94ff;
    --purple:   #c780e8;
    --gray:     #3b3f5a;
    --black:    #2b2f4a;

    --shadow-1-1: rgba(43, 47, 74, 1);
    --shadow-3-4: rgba(43, 47, 74, 0.75);
    --shadow-1-2: rgba(43, 47, 74, 0.5);
    --shadow-1-4: rgba(43, 47, 74, 0.25);
    --shadow-1-8: rgba(43, 47, 74, 0.125);
    --shadow-1-16: rgba(43, 47, 74, 0.0625);
    --shadow-1-32: rgba(43, 47, 74, 0.0375);
    --shadow-1-64: rgba(43, 47, 74, 0.01875);
}
@font-face {
    font-family: "Poppins";
    src: url("/cithara/assets/fonts/Poppins.ttf");
}
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    color: var(--black);
    font-family: "Poppins";
}
/*
/*  Menu Container
/*                  */
section#menu-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    overflow: hidden;
}
section#menu-container > .menu {
    display: flex;
    flex-direction: column;
    flex: 1;
}
section#menu-container > .menu > .trigger {
    position: relative;
    flex: 1;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}
section#menu-container > .menu > .trigger.active {
    display: none;
}
section#menu-container > .menu > .trigger img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    filter: invert(19%) sepia(16%) saturate(1342%) hue-rotate(195deg) brightness(90%) contrast(95%);
    transition: all 300ms ease;
}
section#menu-container > .menu > .trigger > span {
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--shadow-1-4);
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
}
section#menu-container > .menu > .trigger:hover img {
    transform: translate(-50%, -50%) scale(1.2);
}
section#menu-container > .menu > .trigger:hover > span {
    transform: translateY(-10%) scale(1.2);
}
section#menu-container > .menu > .sub-menu {
    display: none;
    flex-direction: column;
    height: 100%;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: max-height 300ms ease;
}
section#menu-container > .menu > .sub-menu.active {
    display: flex;
}
section#menu-container > .menu > .sub-menu > li {
    display: flex;
    flex: 1;
    justify-content: space-around;
    position: relative;
    transition: all 300ms ease;
    cursor: pointer;
}
section#menu-container > .menu > .sub-menu > li > .image {
    display: grid;
    flex: 1;
    place-items: center;
    transition: inherit;
}
section#menu-container > .menu > .sub-menu > li > .image > img {
    width: 50%;
    object-fit: cover;
    filter: invert(19%) sepia(16%) saturate(1342%) hue-rotate(195deg) brightness(90%) contrast(95%);
}
section#menu-container > .menu > .sub-menu > li > span {
    display: grid;
    flex: 1;
    place-items: center;
    height: 100%;
    transition: inherit;
}
section#menu-container > .menu > .sub-menu > li:hover > .image, 
section#menu-container > .menu > .sub-menu > li:hover > span {
    transform: scale(1.2);
}
/*
/*  Songlist Container 
/*                      */
section#songlist {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    overflow: hidden;
}
section#songlist .filters {
    display: flex;
    justify-content: center;
}
section#songlist .filters > label {
    position: relative;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    background-color: var(--lightgray);
    border-radius: 0.5rem;
    cursor: pointer;
}
section#songlist .filters > label.active  {
    background-color: var(--blue);
}
section#songlist .filters > label > input[type=radio] {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section#songlist .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    gap: 0.5rem;
    overflow-y: scroll;
}
section#songlist .list > .song {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.5rem;
    user-select: none;
    cursor: pointer;
}
section#songlist .list > .song > img {
    width: 64px;
    height: 64px;
}
section#songlist .list > .song > .detail {
    display: block;
    flex: 1;
}
section#songlist .list > .song > .detail > .name {
    font-size: 1.25rem;
    font-weight: bold;
}
section#songlist .list > .song > .detail > .artist {
    font-size: 0.75rem;
    color: var(--shadow-1-2);
}
/*                  */
/*  Song Container  */
/*                  */
section#song-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    overflow: hidden;
}
section#song-container > .page {
    white-space: nowrap;
    flex-basis: 0;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: flex-basis 1000ms ease;
}
section#song-container > .page.active {
    flex-basis: 100%;
}
section#song-container .page.overview {
    display: grid;
    grid-template-areas: "desc details";
    grid-template-columns: 192px 1fr;
    gap: 1rem;
}
section#song-container > .page.overview > .side,
section#song-container > .page.overview > .main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.25rem;
}
section#song-container > .page.overview > .side {
    grid-area: desc;
}
section#song-container > .page.overview > .main {
    grid-area: details;
}
section#song-container > .page.overview > .side > img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}
section#song-container > .page.overview > .side > .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
section#song-container > .page.overview > .side > .links > a {
    width: 2rem;
}
section#song-container > .page.overview > .side > .links > a > img {
    width: 100%;
}
section#song-container > .page.overview > .main #title {
    font-size: 2rem;
    font-weight: bold;
}
section#song-container > .page.overview > .main #author {
    font-size: 0.75rem;
    font-weight: normal;
    color: var(--gray);
}
section#song-container > .page.overview > .main p {
    font-size: 0.75rem;
}
section#song-container > .page.lyric {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#song-container > .page.lyric > pre {
    font-size: 0.75rem;
    padding: 2rem;
}

section#song-container > .page.chord-container {
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    justify-content: center;
    overflow-wrap: normal;
    gap: 1rem;
}
section#song-container > .page.video-container {
    display: grid;
    place-items: center;
}





.margin-nav {
    margin-top: 3.5rem;
}
.red-bg {
    background-color: var(--red);
}
.orange-bg {
    background-color: var(--orange);
}
.white-bg {
    background-color: var(--white);
}
.light-gray-bg {
    background-color: var(--lightgray);
}
.shadow-1-4-bg {
    background-color: var(--shadow-1-4);
}
.shadow-1-8-bg {
    background-color: var(--shadow-1-8);
}
.shadow-1-16-bg {
    background-color: var(--shadow-1-16);
}
.shadow-1-32-bg {
    background-color: var(--shadow-1-32);
}
.red-orange-bg {
    background-image: linear-gradient(to bottom right, var(--red), var(--orange));
}
.yellow-green-bg {
    background-image: linear-gradient(to bottom right, var(--yellow), var(--green));
}
.blue-purple-bg {
    background-image: linear-gradient(to bottom right, var(--blue), var(--purple));
}