#menuPlaystyleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: calc(100vh - 3.5rem);
    padding: 1rem;
    gap: 1rem;
    overflow-x: scroll;
}
#menuPlaystyleContainer > a {
    display: inline-flex;
    flex-basis: 12.5rem;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 16px var(--shadow);
    transition: all 300ms ease;
}
#menuPlaystyleContainer > a:hover {
    scale: 1.025;
    translate: 0 -0.5rem;
}
#menuPlaystyleContainer > a h1 {
    font-size: 1.5rem;
    margin: 1rem;
}
#strum-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
}
#strum-container #strum {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
#strum-container #strum > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    color: var(--white);
    background-color: var(--gray);
    border-radius: 50%;
    box-shadow: 0 0 16px var(--shadow);
}
#strum-container #strumSetting {
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    background-color: var(--gray);
    border-radius: 1rem;
}
#strum-container #strumSetting > div {
    display: flex;
    flex: 1;
}
#strum-container #strumSetting #strumBPM > div {
    display: flex;
    padding: 0.75rem;
    padding-right: 0;
}
#strum-container #strumSetting #strumBPM > div span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
}
#strum-container #strumSetting #strumBPM > div span input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background-color: var(--black);
    border-radius: 0.125rem;
    cursor: pointer;
}
#strum-container #strumSetting #strumBPM > div span input[type="range"]::-webkit-slider-thumb,
#strum-container #strumSetting #strumBPM > div span input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--blue);
    border: none;
}
#strum-container #strumSetting #strumPatternSelect span {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    padding-right: 0;
}
#strum-container #strumSetting #strumPatternSelect select {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Orbit', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
}
#strum-container #strumSetting #strumPatternSelect select option {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Orbit', sans-serif;
}
#strumMute, #strumPlay {
    display: flex;
    position: relative;
    padding: 0.75rem;
    padding-right: 0;
    color: var(--white);
}
#strumMute input[type="checkbox"], #strumPlay input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer;
}
#strumMute span, #strumPlay span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    padding: 0.75rem;
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
}
#flatpickContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: calc(100vh - 3.5rem);
}
#flatpickContainer svg {
    width: 100%;
    height: 100%;
}
#flatpickContainer #flatpickSetting {
    display: flex;
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 728px;
    height: 81px;
    flex: 1;
    background-color: var(--gray);
    border-radius: 1rem;
    transform: translate(-50%, 0);
}
#flatpickContainer #flatpickSetting > div {
    display: flex;
    flex: 1;
}
#flatpickContainer #flatpickSetting #flatpickBPM > div {
    display: flex;
    padding: 0.75rem;
    padding-right: 0;
}
#flatpickContainer #flatpickSetting #flatpickBPM > div span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
}
#flatpickContainer #flatpickSetting #flatpickBPM > div span input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    background-color: var(--black);
    border-radius: 0.125rem;
    cursor: pointer;
}
#flatpickContainer #flatpickSetting #flatpickBPM > div span input[type="range"]::-webkit-slider-thumb,
#flatpickContainer #flatpickSetting #flatpickBPM > div span input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--blue);
    border: none;
}
#flatpickContainer #flatpickSetting #flatpickPatternSelect span {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    padding-right: 0;
}
#flatpickContainer #flatpickSetting #flatpickPatternSelect select {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Orbit', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
}
#flatpickContainer #flatpickSetting #flatpickPatternSelect select option {
    -webkit-appearance: none;
    appearance: none;
    font-family: 'Orbit', sans-serif;
}
#flatpickMute, #flatpickPlay {
    display: flex;
    position: relative;
    padding: 0.75rem;
    padding-right: 0;
    color: var(--white);
}
#flatpickMute input[type="checkbox"], #flatpickPlay input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer;
}
#flatpickMute span, #flatpickPlay span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    padding: 0.75rem;
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
}
main .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0.5rem;
    margin: 0.75rem;
    margin-right: 0;
    background-color: var(--gray);
    border: 1px solid var(--black);
    border-bottom: 8px solid var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
}
main .button select {
    appearance: none;
    font-family: 'Orbit';
    text-align: center;
    color: var(--white);
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
main .button select option {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--gray);
}