:root {
    --white:    #ffffff;
    --lightgray:#e8e8ed;
    --red:      #ff6961;
    --orange:   #ffb480;
    --yellow:   #f8f38d;
    --green:    #42d6a4;
    --cyan:     #08cad1;
    --blue:     #59adf6;
    --violet:   #9d94ff;
    --purple:   #c780e8;
    --gray:     #3b3f5a;
    --black:    #2b2f4a;

    --shadow-1-1: rgba(43, 47, 74, 1);
    --shadow-3-4: rgba(43, 47, 74, 0.75);
    --shadow-1-2: rgba(43, 47, 74, 0.5);
    --shadow-1-4: rgba(43, 47, 74, 0.25);
    --shadow-1-8: rgba(43, 47, 74, 0.125);
    --shadow-1-16: rgba(43, 47, 74, 0.0625);
    --shadow-1-32: rgba(43, 47, 74, 0.0375);
    --shadow-1-64: rgba(43, 47, 74, 0.01875);
}
* {
    font-family: 'Sarabun', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
nav .top-bar {
    color: var(--gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.5rem;
    background-color: transparent;
    border-bottom: 1px solid var(--shadow-1-8);
    transition: all 200ms ease;
    z-index: 1000;
}
nav .top-bar.scrolled {
    background-color: var(--white);
}
nav .top-bar div.wrapper {
    display: flex;
    min-width: 360px;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    gap: 1rem;
}
nav .top-bar div.wrapper a {
    text-align: center;
    flex: 1;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
}
nav .top-bar div.wrapper a span {
    position: relative;
}
nav .top-bar div.wrapper a span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    border: 0px solid var(--blue);
    border-radius: 1px;
    transition: all 200ms ease;
}
nav .top-bar div.wrapper a:hover span::after,
nav .top-bar div.wrapper a.active span::after {
    width: 100%;
    border: 1px solid var(--blue);
}
main {
    padding-top: 3.5rem;
}
main > section {
    position: relative;
}
/* Article */
main > section.article {
    color: var(--gray);
    text-align: justify;
    text-justify: distribute;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    width: 100%;
    max-width: 768px;
    line-height: normal;
    margin: 0 auto;
}
section.article > header {
    margin: 1rem 1rem 0 1rem;
}
section.article > section {
    margin: 0 1rem;
}
section h1,
section h2,
section p {
    margin: 0;
    margin-bottom: 1rem;
}
section.article p {
    text-indent: 2rem;
    line-height: 2rem;
}
section.article a {
    color: var(--blue)
}
section.article img {
    width: 100%;
    max-height: 20rem;
    object-fit: contain;
}
section.article > header p {
    font-style: italic;
}

/* Form */
main > section.form {
    color: var(--gray);
    text-align: justify;
    text-justify: distribute;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    width: 100%;
    max-width: 768px;
    line-height: normal;
    margin: 0 auto;
}
section.form h1 {
    margin: 1rem;
}
section.form h1::after {
    content: "";
    display: block;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--blue);
    border-radius: 0.25rem;
    opacity: 0.5;
}
section.form form {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 328px;
    width: 100%;
    max-width: 360px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid var(--shadow-1-4);
    border-radius: 0.25rem;
}
section.form form .header {
    position: absolute;
    top: -0.75rem;
    left: 0.75rem;
    background-color: var(--white);
    padding: 0 1rem;
}
section.form form input {
    flex: 1;
}
section.form form .row {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}
section.form form .row:last-of-type {
    margin: 1rem 0 0;
}
section.form form .row > * {
    flex: 1;
}
section.form form .row > label {
    align-self: center;
}
section.form form div.field {
    display: block;
    position: relative;
}
section.form form div.field > input {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.25rem;
    outline: none;
}
section.form form div.field > label {
    color: var(--gray);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 0.5rem;
    opacity: 0.5;
    transition: all 200ms ease;
    pointer-events: none;
}
section.form form div.field > input:focus + label,
section.form form div.field > input:not(:placeholder-shown) + label {
    font-size: 0.75rem;
    top: 0;
    background-color: var(--white);
}
section.form form div.radio {
    display: flex;
    gap: 1rem;
}
section.form form div.radio .label {
    align-self: center;
}
section.form form div.radio .container {
    display: flex;
    flex: 1;
    border: 1px solid var(--shadow-1-4);
    border-radius: 0.25rem;
    overflow: hidden;
}
section.form form div.radio .container label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
}
section.form form div.radio .container label input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transition: all 200ms ease;
    opacity: 0.75;
    cursor: pointer;
}
section.form form div.radio .container label input:checked {
    background-color: var(--blue);
}
section.form form div.radio .container label span {
    z-index: 1;
    cursor: pointer;
}
section.form .row .select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
section.form .row .select select {
    flex: 1;
    cursor: pointer;
}
section.form select {
    padding: 0.5rem;
    background-color: var(--white);
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.25rem;
}
section.form input[type=reset] {
    height: 2rem;
    background-color: transparent;
    border: 1px solid var(--shadow-1-4);
    border-radius: 0.25rem;
    cursor: pointer;
}
section.form input[type=submit] {
    height: 2rem;
    background-color: var(--blue);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
section.form svg {
    height: 3rem;
    margin-bottom: 1rem;
}
section.form h2,
section.form p {
    text-align: center;
    margin: 0 1rem 1rem;
}
section.form h2 {
    font-size: 1.25rem;
}
section.form p {
    text-indent: 2rem;
    line-height: 2rem;
}
section.form li {
    list-style: disc;
    margin-bottom: 1rem;
}
/*
main section {
    position: relative;
    min-height: 100vh;
}
section.main {
    min-width: 360px;
    width: 100%;
    max-width: 768px;
    padding: 3.5rem 1rem 0 1rem;
    margin: 0 auto;
}
section.main > h1,
section.main > p {
    font-weight: normal;
    text-align: justify;
}
section.main > h1::after {
    content: "";
    display: block;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--blue);
}
section.main > p {
    text-indent: 4rem;
    line-height: 2rem;
}
section.main > form {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 328px;
    width: 100%;
    max-width: 360px;
    padding: 2rem 1rem 1rem 1rem;
    margin: 2rem auto;
    gap: 1.5rem;
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.25rem;
}
section.main > form > .header {
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: translate(0,-50%);
    padding: 0 0.5rem;
    background-color: var(--white);
}
section.main > form > div.field {
    display: block;
    position: relative;
}
section.main > form > div.field > input {
    appearance: none;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.25rem;
    outline: none;
}
section.main > form > div.field > div.label {
    color: var(--gray);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 0.5rem;
    opacity: 0.5;
    transition: all 200ms ease;
    pointer-events: none;
}
section.main > form > div.field > input:focus + div.label,
section.main > form > div.field > input:not(:placeholder-shown) + div.label {
    font-size: 0.75rem;
    top: 0;
    background-color: var(--white);
}
section.main > form > div.radio {
    display: flex;
    align-items: center;
    gap: 1rem;
}
section.main > form > div.radio > .container {
    display: flex;
    width: 10rem;
    height: 2rem;
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.25rem;
    user-select: none;
}
section.main > form > div.radio > .container > label {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 1rem;
    cursor: pointer;
}
section.main > form > div.radio > .container > label > input[type=radio] {
    appearance: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: transparent;
    transition: all 200ms ease;
}
section.main > form > div.radio > .container > label > input[type=radio]:checked {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
}
section.main > form > div.radio > .container > label > span {
    text-align: center;
    width: 100%;
    z-index: 2;
}
section.main > form > div.checkbox {
    display: flex;
    gap: 1rem;
}
section.main > form > .buttons {
    display: flex;
    height: 2rem;
    gap: 1rem;
}
section.main > form > .buttons > input {
    font-family: 'Sarabun', sans-serif;
    padding: 0 1rem;
    border-bottom: 8px solid var(--black);
    cursor: pointer;
}
section.main > form > .buttons > input:hover {
    outline: 1px solid var(--black);
}
section.main > form > .buttons > input[type=reset] {
    background-color: var(--red);
    border: none;
    border-radius: 0.25rem;
}
section.main > form > .buttons > input[type=submit] {
    flex: 1;
    background-color: var(--blue);
    border: none;
    border-radius: 0.25rem;
}
section.main > #result-container {
    display: none;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    gap: 1rem;
    border: 1px solid var(--shadow-1-8);
    border-radius: 0.25rem;
}
section.main > #result-container.active {
    display: block;
}
section.main > #result-container > h1,
section.main > #result-container > p {
    margin: 1rem 0;
}
section.main > #result-container > h1 {
    font-size: 1.25rem;
    font-weight: normal;
    position: relative;
}
section.main > #result-container > h1::after {
    content: "";
    display: block;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--blue);
}
section.main > #result-container > p {
    font-size: 0.875rem;
}
section.main > #result-container > .buttons {
    display: flex;
    justify-content: right;
    height: 2rem;
}
section.main > #result-container > .buttons > .reset {
    padding: 0 1rem;
    background-color: var(--blue);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
*/